@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  /*--bg: #fbf1c7;*/
  /*--fg: #3c3836;*/
  /*--hl: #cc241d;*/
  /*--li: #458588;*/

  --bg: #282828;
  --fg: #ebdbb2;
  --hl: #b8bb26;
  --li: #d65d0e;
}

body {
  text-align: justify;
  font-family: "JetBrains Mono", monospace;
  max-width: 600px;
  margin: 0 auto;
  background: var(--bg);
  color: var(--fg);
}

h1 {
  text-align: center;
}

nav {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: var(--li);
  text-decoration: none;
}


a:hover {
  color: var(--hl);
  text-decoration: none;
}

li {
  list-style: "=> ";
}
