@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@font-face {
  font-family: pixel;
  src: url('fonts/W95FA.otf');
}

@font-face {
  font-family: alagard;
  src: url('fonts/alagard.ttf');
}

:root {
  /*--bg: #fbf1c7;*/
  /*--fg: #3c3836;*/
  /*--hl: #cc241d;*/
  /*--li: #458588;*/

  --bg: teal;
  --fg: black;
  --hl: #b8bb26;
  --li: blue;
}

body {
  /* font-family: "JetBrains Mono", monospace; */
  font-family: pixel;
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
  background: var(--bg);
  color: var(--fg);
}

h1 {
  text-align: center;
  font-family: alagard;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: alagard;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  background-color: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  padding: 8px;
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
}

a {
  color: var(--li);
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}

li {
  list-style: "=> ";
}

#content {
  background-color: silver;
  padding: 20px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  margin-bottom: 20px;
}

@media only screen and (max-height: 768px) {
  nav {
    position: relative;
    flex-direction: row;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin: 25px;
    max-width: 100%;
    font-size: 36px;
  }

  nav {
    font-size: 200%;
    position: relative;
    flex-direction: column;
    margin-top: 20px;
  }
}
