@font-face {font-family:"W95FA";src:url("fonts/W95FA.eot?") format("eot"),url("fonts/W95FA.woff") format("woff"),url("fonts/W95FA.ttf") format("truetype"),url("fonts/W95FA.svg#W95FARegular") format("svg");font-weight:normal;font-style:normal;}

/*body {
background-image: url('images/CDE.png'); 
 background-size: 100% 100%;
 background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "W95FA";
}*/
body {
background-color: #008080;
background-repeat: repeat;
font-family: "W95FA";
}

header {
  display: flex;
  max-width: 780px;
  max-height: 360px;
border: 3px solid #ffffff; 
border-color:#FFFFFF #808080 #808080 #FFFFFF;
margin: 0 auto;
}
header > img {
margin-top: auto;
}

.sidebar {
  width: 20%; /* Adjust the width as needed */
  max-width: 200px;
  background-color: #c0c0c0;
  border: 3px solid #ffffff; 
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  margin: 0 auto;
  margin-top: 10px;
}

.sidebar a {
  display: block;
  padding: 0 10px; 
  text-decoration: none;
  color: #333;
}


.basecontainer {
  display: flex;
  margin: 0 auto;
  max-width: 800px;

}


h1 {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

h3 {
  margin: 0;
  text-align: center;
}




ul {
  columns: 3;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 60px;
  max-width: 600px;
}

.ulcontainer {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
}

#fg {
background-color: #c0c0c0;
width: 80%; /* Set the width of the container to 100% */
max-width: 600px; 
margin: 0 auto; /* Center the container horizontally */
padding: 1px 0;
margin-top: 10px;
border: 3px solid #ffffff; 
border-color:#FFFFFF #808080 #808080 #FFFFFF;
}

.title-bar {
  background: linear-gradient(90deg, #000080, #1084d0);
  background: -moz-linear-gradient(0deg, #000080, #1084d0);
  background: -webkit-linear-gradient(0deg, #000080, #1084d0);
  color: #fff;
  display: flex;
  justify-content: space-between;
   width: 100%;
}

.title-bar > h3 {
  margin-left: 5px;
  margin-top: 1px;

}

 .column {
  float: left;
  width: 50%;
  min-width: 300px;
 }

.column > p {
margin-left: 5px;
padding: 5px;
}

.column img {
  max-width: 285px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  margin-top: 15px;
}

dt {
margin-left: 15px;
margin-right: 15px;
}

.right-image {
  position: fixed;
  bottom: 0; /* Adjust the top position as needed */
  right: 0; /* Adjust the right position as needed */
  z-index: -1; /* Set a higher z-index to ensure the image appears above other elements */
width: 25%; 
cursor:pointer;
}

footer {
  position: fixed;
  bottom: 2px;
  left: 2px;
  padding-left: 5px;
}

@media (max-width: 1080px) {
   .basecontainer {
  flex-direction: column;
  max-width: 100%;
  width: auto;
  font-size: 35px;
  margin-left: 2px;
  margin-right: 5px;
}


#fg {
  width: 100%;
  max-width: none;

}

.column img {
  max-width: 100%;
  border: 9px;
  border-style: inset;

}

.column {
  float: none;
  width: auto;
}


footer {
  display: none;
}

header {
  max-width: 1080px;
  margin-bottom: 15px
}

header img {
width: 100vw;
}
#Emilia {
  display: none;
}

.sidebar {
  position: auto; /* Fix the header position */
  width: 100%;
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: center;

  max-width: 100%;
  margin: 0 auto;
  padding: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar .title-bar {
  display: none;
}


}

body::before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(20, 20, 20, 0) 66%, rgba(0, 0, 0, 0.20) 33%);
    background-size: 100% 3px;
    z-index: 9999;
    pointer-events: none;

    animation: scanlines-anim 0.7s linear infinite;
}

@keyframes scanlines-anim{
    0% {
		background-position: 0px 0px;
	}
	100% {
        background-position: 0px 9px;
	}
}
