@font-face {font-family:"W95FA";src:url("W95FA.eot?") format("eot"),url("W95FA.woff") format("woff"),url("W95FA.ttf") format("truetype"),url("W95FA.svg#W95FARegular") format("svg");font-weight:normal;font-style:normal;}

body {
background-image: url('images/CDE.png'); 
 background-size: 100% 100%;
 background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "W95FA";
}

header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

h3 {
  margin: 0;
  text-align: center;
}


ul {
  columns: 3;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 60px;
  max-width: 600px;
}

.ulcontainer {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
margin: 0 auto; /* Center the container horizontally */
  justify-content: center;
}

#fg {
background-color: #c0c0c0;
width: 80%; /* Set the width of the container to 100% */
max-width: 600px; 
margin: 0 auto; /* Center the container horizontally */
padding: 1px;
margin-top: 50px;
border: 5px solid #ffffff; 
border-color:#FFFFFF #808080 #808080 #FFFFFF;
}

.title-bar {
  background: linear-gradient(90deg, #000080, #1084d0);
  background: -moz-linear-gradient(0deg, #000080, #1084d0);
  background: -webkit-linear-gradient(0deg, #000080, #1084d0);
  color: #fff;
  display: flex;
  justify-content: space-between;
   width: 100%;
}

.title-bar > h3 {
  margin-left: 5px;

}
