html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav ul {
    margin: 0 auto;
    justify-content: space-between;
}

.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; 
  color: white;
  padding: 10px;

}


aside {
  height: 100vh;
}

main {
    display: flex;
  flex-direction: column;
  height: 100%;
}

#blog {
  flex: 1; 
  max-height: calc(100vh - 20px); 
  overflow-y: auto; 
}

#frame {
  flex: 1; 
  max-height: calc(100vh - 20px); 
  overflow-y: auto; 
}

li {
  list-style-type: "↪ "; 
}

body {
  background-image: url("images/dsbg.jpg");
  -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; 
                background-size: 100% 100%;
  font-family: mono;
  color: white;
}

a {
  text-decoration: none;
  background: var(--clr);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

img {
  margin: 0 auto;
}

#buttonbox img:hover {
    transform: scale(1.1) rotate(5deg);
  }
audio {
  margin: 0 auto;
  width: 100%;
}

h1 {
  text-align: center;
    color: #fff;
  font-size: 32px;
}

.parent {

  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
}

.child {
  flex: 1; 
  max-height: calc(100vh - 50px); 
  overflow-y: auto; 
}

.layout {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid:
    "navbar navbar navbar" auto
    "sidebar body rightbar" 1fr
    / 1.2fr 4fr 1.2fr;
}

.glass {
margin: 10px;
padding: 10px;
/*    background-color: #c0c0c0;
    border: 3px solid #ffffff; 
    border-color: #fff #808080 #808080 #fff;
*/

background: rgba(0, 0, 0, 0.7);
border-radius: 4px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid var(--clr);
}
.sidebar { grid-area: sidebar;}
.body { grid-area: body;}

iframe body {
    
    margin: 0;
    padding: 0;
    font-family: inherit; 
    font-size: inherit;   
}

@media (max-height: 768px) {
html, body {
  height: auto;
  max-height: auto;
  margin: 0;
  padding: 0;
}
aside {
  display: flex;
  flex-direction: column;
  height: auto;
}
#blog {
  height: 200px;  overflow-y: auto;   flex: auto; 
  max-height: auto; 
}


.parent {

  display: flex;
  flex-direction: column;
  height: 200vh;
}

.child {
  flex: 1; 
  max-height: calc(200vh - 20px); 
  overflow-y: auto; 
}



  }


