body {
    font-family: monospace;
    margin: auto;
    width: 50%;
    padding: 10px;
}

img {
    width: 100%;
}

.feed-item-title {
    visibility: hidden;
}

header {
    display:inline-block;
}

