body {
    background-color: teal;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0 auto;
    /*! height: 100%; */
}
header {
margin: 0 auto;
margin-top: 15px;
margin-bottom: 15px;
}
header h1 {
  color: orange;
  margin: 0 auto;
  text-align: center; /* optional: to center the text inside the span */
      text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
  font-size: 48px;
}

header img {
display: block;
margin-left: auto;
margin-right: auto;
width: 10%;}

h1 {
  color: orange;
      text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.centre {
margin: 0 auto;
}

.content-box {
max-width: 80vw;
margin: 0 auto;
}

.badgebox {
    margin: 0 auto;
    max-width: 60vw;
}
    
body.scanlines-animation::before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(20, 20, 20, 0) 66%, rgba(0, 0, 0, 0.20) 33%);
    background-size: 100% 3px;
    z-index: 9999;
    pointer-events: none;

    animation: scanlines-anim 0.7s linear infinite;
}

@keyframes scanlines-anim{
    0% {
		background-position: 0px 0px;
	}
	100% {
        background-position: 0px 9px;
	}
}

li {
      line-height: 20px;
      margin: 10px 0;
      color: pink;
         text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

}

ol  {
     font-family: Arial, sans-serif;

    color: pink;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

a {
     color: orange;
}
p  {
     font-family: Arial, sans-serif;

    color: pink;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.hidden {
  display: none;
}

