

/* Center the list, make it not too wide for desktop users + small margin for phone users */
rss {
    width: 100%;
    max-width: min(800px, 98vw); /* For desktop users, 800px. For phone users 2vw (0.02 of the viewport) used */
    margin: auto; /* Centering */
    background-image: url('https://wallpapercave.com/wp/wp5001624.jpg');

}
item {
    display: list-item;
    list-style-type: none; /* Optional if you want bullet points. Consider disclosure-closed */
    margin-bottom: 0.2rem; /* Optional */
    line-height: 40px;
    padding: 10px;
    background: pink;
}
item title {
    display: block; /* Put each title and link on separate line. Consider also "display: flex" for fine tuned ordering of elements*/
    font-weight: bold;
}

link {
    color: #0077cc;
    text-decoration: none;
}

language {
    margin-bottom: 10px;
    background: white;

}

webMaster {
    margin-top: 30px;
    background: white;
    padding: 5px;
}
top {
    display: list-item;
    list-style-type: none; /* Optional if you want bullet points. Consider disclosure-closed */
    margin-top: 0.2rem; /* Optional */
    margin-bottom: 0.2rem; /* Optional */
    line-height: 40px;
    padding: 10px;
    background: pink;
}

top title {

    display: block; /* Put each title and link on separate line. Consider also "display: flex" for fine tuned ordering of elements*/
    font-size: 46px;
    font-weight: bold;
}

top description {

    display: block; /* Put each title and link on separate line. Consider also "display: flex" for fine tuned ordering of elements*/
}

