body {
    background-image: url("https://wallpapercave.com/dwp1x/wp6444732.jpg");
    margin: 0 auto;
    /*! height: 100%; */

}

h1 {
    color: orange;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
    text-align: center;

}

.badgebox {
    margin: 0 auto;
    max-width: 460px;


}

.container {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 30%;
    min-width: 420px;
    background-color: teal;
    padding: 15px;
    margin: 0 auto;
    border-left: 5px solid #ffa500;
    border-right: 5px solid #ffa500;
}

    
}

li {
      line-height: 20px;
      margin: 10px 0;
}

pre {
    color: orange;
}

.criteria {

    max-width: 80%;
    margin: 0 auto;:w

}

.criteria ol  {
     font-family: Arial, sans-serif;

    color: pink;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.criteria a {
     color: orange;
}
.container p  {
     font-family: Arial, sans-serif;

    color: pink;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

@media only screen and (max-device-width: 767px) {
    .container {
        max-width: 90%;
        font-size: 32px;
    }
    .badgebox {
    max-width: 700px;
    }
    .badgebox img {
    transform: scale(1.5);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px
  }


}
    
    
