body {
    background-image: url("https://wallpapercave.com/dwp1x/wp6444732.jpg");
    /*! height: 100%; */

}

h1 {
    color: orange;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
    text-align: center;

}

.badgebox {
    margin: 0 auto;
    max-width: 460px;


}

.right {
position: absolute;
right: 0;
}
.left {
position: absolute;
right: 0;
}

.dragbox {
  position: absolute;
  z-index: 9;
    width: 30vw;
    min-width: 520px;
    background-color: teal;
    border: 5px solid #ffa500;
    box-shadow: 3px 3px rgba(0,0,0,0.5);
}

.dragbox-header {

  border-bottom: 5px solid #ffa500;
  cursor: move;
  z-index: 10;
  background-color: teal;
  color: #fff;
  padding-left: 5px;
}
    
}

li {
      line-height: 20px;
      margin: 10px 0;
}

pre {
    color: orange;
}

.criteria {

    max-width: 80%;
    margin: 0 auto;

}

.criteria ol  {
     font-family: Arial, sans-serif;

    color: pink;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.criteria a {
     color: orange;
}
.dragbox p  {
     font-family: Arial, sans-serif;

    color: pink;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

@media only screen and (max-device-width: 767px) {
    .container {
        max-width: 90%;
        font-size: 32px;
    }
    .badgebox {
    max-width: 700px;
    }
    .badgebox img {
    transform: scale(1.5);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px
  }


}
    
body::before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(20, 20, 20, 0) 66%, rgba(0, 0, 0, 0.20) 33%);
    background-size: 100% 3px;
    z-index: 9999;
    pointer-events: none;

    animation: scanlines-anim 0.7s linear infinite;
}

@keyframes scanlines-anim{
    0% {
		background-position: 0px 0px;
	}
	100% {
        background-position: 0px 9px;
	}
}

.hidden {
  display: none;
}

