@font-face {
    font-family: 'JetBrains';
    src: url('JetBrainsMono.woff2') format('woff2'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('JetBrainsMono.ttf') format('truetype'); /*   Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  color: #cdd6f4;
  background-color: black;
  background-image: url('https://sadhost.neocities.org/images/tiles/purpskybg.jpg');
  font-family: 'JetBrains','Helvetica', 'Arial', sans-serif;;
  font-size: 133%;
}

header img {
position: fixed;
max-width: 20%;
top: 0;
right: 0;
}
p {
  color: #ffffff;
}
hr {
  border-top: 1px solid #c731a2;
}
h1{
  color: #ffffff;
}
h2{
  color: #000000;
}
h3{
  color: #ffffff;
}
a {
  color: #2a7ec4;
  text-decoration: none;
}
a:hover {
  color: #fefefe;
  background: #d85dc4;
}

article {
  max-width: 50vw;
  min-width: 600px;
  margin: 0 auto;
  background: rgba(0,0,0,0.5);
  padding: 5px 20px;
}

footer a {
position: fixed;
left: 0;
bottom: 0;
margin: 10px;
}

.metadiv{
text-align: center;
display: flex;
}
.metadiv img {
width: 32px;
height: 32px;
}
