body {
  color: #cdd6f4;
  background-color: #1e1e2e;
  /*background: url("https://sadhost.neocities.org/images/tiles/paper.jpg");*/
  font-family: mono;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

header img {
position: fixed;
max-width: 20%;
top: 0;
right: 0;
}
p {
  color: #cdd6f4;
}
hr {
  border-top: 1px solid #b4befe;
}

a {
  color: #b4befe;
  text-decoration: none;
  font-weight: bold;

}
a:hover {
  color: ;
  background: ;
  text-decoration: underline;
}

article {
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
  padding: 5px 20px;
}

footer a {
position: fixed;
left: 0;
bottom: 0;
margin: 10px;
}

li {
  list-style-type: "↪ "; 
}

.metadiv{
text-align: center;
display: flex;
}
.metadiv img {
width: 32px;
height: 32px;
}
