body {
  color: black;
  background-color: white;
  background: url("https://sadhost.neocities.org/images/tiles/paper.jpg");
  font-family: "Times New Roman",serif;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

header img {
position: fixed;
max-width: 20%;
top: 0;
right: 0;
}
p {
  color: black;
}
hr {
  border-top: 1px solid blue;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: #fefefe;
  background: blue;
}

article {
  max-width: 50vw;
  min-width: 600px;
  margin: 0 auto;
  padding: 5px 20px;
}

footer a {
position: fixed;
left: 0;
bottom: 0;
margin: 10px;
}

.metadiv{
text-align: center;
display: flex;
}
.metadiv img {
width: 32px;
height: 32px;
}
