body {
  color: white;
  background-image: url('https://sadhost.neocities.org/images/tiles/stars3.gif');
  font-family: 'Helvetica', 'Arial', sans-serif;
}

header img {
position: absolute;
max-width: 50%;
top: 0;
right: 0;
}
p {
  color: #cdd6f4;
}
hr {
  border-top: 1px solid #a6e3a1;
}

h2{
  color: #cba6f7;
}
a {
  color: #cba6f7;
  text-decoration: none;
}
a:hover {
  color: #b4befe;
  text-decoration: underline
}
.foreground {
    margin-left: 15%;
    margin-right: 50%;
    max-width: 35%;
    background-color: #1e1e2e;
    border-left: 1px solid #a6e3a1;
    border-right: 1px solid #a6e3a1;
    height: 100vh;
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

body::before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(20, 20, 20, 0) 66%, rgba(0, 0, 0, 0.20) 33%);
    background-size: 100% 3px;
    z-index: 9999;
    pointer-events: none;

    animation: scanlines-anim 0.7s linear infinite;
}

@keyframes scanlines-anim{
    0% {
		background-position: 0px 0px;
	}
	100% {
        background-position: 0px 9px;
	}
}
